@tailwind base;
@tailwind components;
@tailwind utilities;

img,
picture {
  max-width: 100%;
  z-index: 1;
}

svg {
  @apply w-5 h-5;
}

h1 {
  @apply font-bold text-3xl md:text-4xl lg:text-5xl;
}

h3 {
  @apply text-xl md:text-2xl text-bodyFont font-bold;
}

h5 {
  @apply text-base text-bodyFont font-bold;
}

.leading {
  @apply text-lg text-bodyFont;
}

.hamburger span,
.hamburger::before,
.hamburger::after {
  @apply w-full h-[3px] bg-black content-[""] block my-1;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-5px, -5px);
}

.hamburger.is-active .bar {
  @apply opacity-0;
}

.menu {
  transition: 0.4s;
}

.menu.is-active {
  right: 0;
}

.nav_link {
  @apply inline-block py-4 w-full font-semibold;
  transition: color 0.4s;
}

.nav_link:hover {
  @apply text-primaryColor;
}

a {
  display: block;
}

.cta_link {
  @apply text-lg text-primaryColor font-semibold flex items-center gap-4 mt-8;
  white-space: nowrap;
}

.cta_link-2 {
  @apply text-lg text-white font-semibold flex items-center gap-4 mt-8;
  white-space: nowrap;
}

.cta_link svg {
  transition: all 0.5s;
}

.cta_link:hover svg {
  transform: translateX(10px);
}

.step__content {
  @apply grid items-center justify-between grid-cols-1 md:grid-cols-2 gap-10;
}

.list__item {
  padding: 0;
  margin: 0;

  counter-reset: my-counter;

  display: grid;
  gap: 0.8rem;
}

.list__item li {
  counter-increment: my-counter;
}

.list__item li::before {
  content: counter(my-counter);
  background: #cccbcb;
  font-size: 0.8rem;
  color: #222;
  line-height: 1;
  font-weight: 900;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid hsl(300, 100%, 13%);
  border-radius: 50%;
  margin-right: 1rem;
}

.box {
  height: inherit;
}

.box:nth-child(1) {
  background: radial-gradient(
    121.59% 299.1% at -18.79% 121.59%,
    #fb4491 0%,
    #ff9ec7 0.01%,
    #4635c3 100%
  );
}

.box:nth-child(2) {
  background: radial-gradient(
    159.21% 377.09% at -20.15% 100%,
    #4937c4 0%,
    #98b5ff 100%
  );
}
